{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col">
              <h3>Les filtres</h3>
              Genre de jeux vidéo :<br>
                 {% include('client/boutique/_filtre.html') %}

              <br>Plateforme (Console) :<br>
              <form action="/client/article/show" method="get">
                  <select name="filter_console" class="form-select" onchange="this.form.submit()">
                      <option value="">Toutes les consoles</option>
                      {% for console in items_console %}
                          <option value="{{ console.id_console }}">{{ console.libelle_console }}</option>
                      {% endfor %}
                  </select>
              </form>
            </div>
        </div>

        <div class="bg-light p-3 mt-3">
            <h1>Jeux vidéo</h1>
        </div>

        <div class="row">
                {% for article in articles  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1 text-center">
                                <a href="/client/article/details?id_article={{ article.id_jeux_video }}" style="text-decoration: none;">
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ article.nom }}</span><br>
                                    <span class="badge bg-secondary" style="font-size: 0.6em">{{ article.libelle_console }}</span><br>
                                    {{ article.prix }} €
                                </h3>
                                     {% if article.photo is not none %}
                                        <img class="card-img-top rounded mx-auto d-block" style="width:180px; height:180px; object-fit: contain;" src="{{ url_for('static', filename = 'images/' + article.photo) }}" alt="image de {{ article.nom }}">
                                    {% else %}
                                        <img class="card-img-top rounded mx-auto d-block" style="width:180px; height:180px; object-fit: contain;" src="{{ url_for('static', filename='images/no_photo.jpeg')}}" alt="Pas d'image">
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row justify-content-center">
                                {% if article.stock is defined and article.stock != None %}
                                    {% if article.stock > 0 %}
                                        <form action="/client/panier/add" method="post" class="col-8">
                                            <input type="hidden" name="id_article" value="{{ article.id_jeux_video }}">
                                            <div class="input-group">
                                                <button class="btn btn-success" id="button-addon1">
                                                    <i class="fas fa-shopping-cart"></i> Ajouter
                                                </button>
                                                <input type="number" id="input-{{ article.id_jeux_video }}" step="1" min="1" max="{{ article.stock }}" class="form-control" value="1" name="quantite">
                                            </div>
                                        </form>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                            {% if article.stock is defined and article.stock != None %}
                                 {% if article.stock > 0 %}
                                    <small class="text-muted">Stock : {{ article.stock }} ({{ article.libelle_type_jeux_video }})</small>
                                 {% else %}
                                    <small class="text-danger">Momentanément indisponible</small>
                                 {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}